mixin top-nav-list(...targets)
  ul.nav.navbar-nav
    each target in targets
      li
        a.top-navigation-link(href="#" + "#{target.toLowerCase()}")= target

mixin section(target)
  .panel.panel-default
    .panel-heading(id="section-#{target}", role="tab")
      h2.panel-title.text-muted
        a(data-toggle='collapse', data-parent='#accordion', href="#" + "#{target}", class='collapsed', aria-expanded='false', aria-controls=target) <span><svg class="icon-add-1"><use xlink:href="#icon-add-1"></use></svg>&nbsp;</span>
            =target
    div(id=target, class='panel-collapse collapse', role="tabpanel" aria-labelledby="section-#{target}")
      .panel-body
        block


mixin project(iden, title, imageside)
  .row(id=iden)
    if imageside == 'left'
      .col-md-8
        div
          +browser
      .col-md-4
        div.description
          h2= title
          block
    else
      .col-md-8.col-md-push-4
        div(id=iden)
          +browser
      .col-md-4.col-md-pull-8
        div.description
          h2= title
          block


mixin technology(...techs)
  ul.tech-list
    each tech in techs
      li(id=tech)
        span.icon-star
        =tech


mixin timeline(id, item, place, side, content, time)
  - var time = time || ''
  .timeline-item(id=id, class=content ? 'with-body' : 'no-body')
    .timeline-icon
    .timeline-content(class=side)
      .timeline-header
        h3= item
        .place= place + ' '
          unless time == ''
            span.time= time
      if block
        .timeline-body
          block


mixin skill(num, title)
  li.skill(class="skill-#{num}")
        h2!= title
        block


mixin social-icon(social, link)
  li(class="social-#{social}")
    a(href=link, target="_blank", title=social)
      i(class="icon-#{social}")
      i(class="icon-#{social}-inverse")
    .network= social


mixin browser
  .browsers
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
