mixin top-nav-list(...targets)
  //-ul.nav.navbar-nav#top-menu
  ul#top-menu
    each target in targets
      li
        a.top-navigation-link(href="#" + "#{target.toLowerCase()}")= target

mixin section(target)
    li
      a(id=target)
        h2<span><svg class="icon-add-1"><use xlink:href="#icon-add-1"></use></svg>&nbsp;</span>
          =target
      div.accordion-content(id="section-#{target}")
        div
          block

mixin project(iden, title, imageside)
  .project(id=iden)
    .visual
      div
        +browser
    .text
      div.description
        h2= title
        block

mixin technology(...techs)
  ul.tech-list
    each tech in techs
      li(id=tech)
        span.icon-star
        =tech


mixin timeline(id, item, place, side, content, time)
  - var time = time || ''
  .timeline-item(id=id, class=content ? 'with-body' : 'no-body')
    .timeline-icon
    .timeline-content(class=side)
      .timeline-header
        h3= item
        .place= place + ' '
          unless time == ''
            span.time= time
      if block
        .timeline-body
          block


mixin skill(num, title)
  li.skill(class="skill-#{num}")
        h2!= title
        block


mixin social-icon(social, link)
  li(class="social-#{social}")
    a(href=link, target="_blank", title=social)
      i(class="icon-#{social}")
      i(class="icon-#{social}-inverse")
    .network= social


mixin browser
  .browsers
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
