mixin top-nav-list(...targets)
  //-ul.nav.navbar-nav#top-menu
  ul#top-menu
    each target in targets
      li
        a.top-navigation-link(href="#" + "#{target.toLowerCase()}")= target

mixin section(target)
  section.accordion-section(id=target)
    header.accordion-header
      h2.accordion-heading<span><svg class="icon-add-1"><use xlink:href="#icon-add-1"></use></svg>&nbsp;</span>
          =target
    .accordion-content(id="section-#{target}")
      block

mixin project(iden, title, imageside)
  .project(id=iden)
    .visual
      div
        +browser
    .text
      div.description
        h2= title
        block

mixin technology(...techs)
  ul.tech-list
    each tech in techs
      li(id=tech)
        span.icon-star
        =tech


mixin timeline(id, item, place, side, content, time)
  - var time = time || ''
  .timeline-item(id=id, class=content ? 'with-body' : 'no-body')
    .timeline-icon
    .timeline-content(class=side)
      .timeline-header
        h3= item
        .place= place + ' '
          unless time == ''
            span.time= time
      if block
        .timeline-body
          block


mixin skill(num, title)
  li.skill(class="skill-#{num}")
        h2!= title
        block


mixin social-icon(social, link)
  li(class="social-#{social}")
    a(href=link, target="_blank", title=social)
      i(class="icon-#{social}")
      i(class="icon-#{social}-inverse")
    //- .network= social


mixin browser
  .browsers
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content

mixin cbutton
  svg(width="70px", height="70px", y="0px", x="0px", viewbox="0 0 100 100", xml:space="preserve", version="1.1", preserveaspectratio="none")
    defs
      clipPath#clip_shape
        path.clip-ring(d="M50,24.188c-14.255,0-25.812,11.557-25.812,25.812 c0,14.255,11.557,25.812,25.812,25.812c14.255 0,25.812-11.558,25.812-25.812C75.812,35.745,64.255,24.188,50,24.188z M50,64.75 c-8.146,0-14.749-6.604-14.749-14.75c0-8.146,6.603-14.749,14.749-14.749c8.146,0,14.75,6.603,14.75,14.749 C64.75,58.146,58.146,64.75,50,64.75z")
      symbol#sparkling
        g
          line(x1="50", y1="89.75", x2="50", y2="75.75")
          line(x1="84.844", y1="70.132", x2="72.191", y2="62.828")
          line(x1="84.844", y1="29.956", x2="72.193", y2="37.259")
          line(x1="50", y1="9.25", x2="50", y2="24.25")
          line(x1="15.243", y1="70.132", x2="27.894", y2="62.829")
          line(x1="15.243", y1="29.956", x2="27.893", y2="37.258")
  .box
  .more
    a.scroll-more.scroll-on-page-link(href="#about")
      span.icon-arrow-dot-round
    button.cbutton.cbutton--complex.cbutton--box.cbutton--box-color-7.cbutton--effect-stana
      span.cbutton__text Colorpicker
      span.cbutton__helper
        svg#sparkle-1(width="100px", height="100px")
          use(fill="#0077ff", stroke="#0077ff", xlink:href="#sparkling", x="-10", y="-10", width="100", height="100")
